body {
	background-color: #001A00 !important;
	background-image: url(bg.jpg);
}

hr {
	border-top: 1px solid #1CB841 !important;
	border-bottom: 2px solid #252 !important;
}

.content-pane {
	margin-top: -20px !important;
	background-color: RGBA(255,255,155,0.1);
	color: #cff;
	padding: 0 0 0 1%;
}

.content-pane a {
	color: #4f6;
}

.content-pane a:hover {
	color: #4f6;
}

.sidebar {
	width: 25%;
	margin-left: 75%;
	padding: 1% !important;
	background-color: RGBA(255,255,155,0.2);
}

.footer {
	background-color: RGBA(155,255,155,0.2);
	color: #7aa;
	padding: 1%;
}

.footer a {
	color: #4f6;
}

.footer a:hover {
	color: #4f6;
}

.menuform {
	width: 300px;
	margin: 5px 0 0 !important;
}

.button {
	border: 1px solid #1CB841 !important;
	border-radius: 0px !important;
}

.button.green {
	background-color: #252 !important;
	color: #cff !important;
}
.button.green:hover {
	background-color: #1CB841 !important;
	color: #242 !important;
}
.button.green:active {
	background-color: #373 !important;
	color: #3f3 !important;
}

.menu ul {
	background: #252 !important;
}
.menu li:hover > a, .menu li.active > a {
	background: #1CB841 !important;
	color: #050 !important;
}
.menu li a {
	color: #7f1 !important;
}

/* Headings */
.menu .menu-heading a {
	font-weight: bold !important;
	color: #3f3 !important;
}

/* Dropdowns */
.menu ul ul {
	border: 1px solid #050 !important;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
	background-color: #242;
	color: #7f1;
	border: 1px solid #1CB841 !important;
}

::selection { 
	background: RGBA(155,255,155,0.2); /* Safari, Chrome, Opera */  
}
::-moz-selection { 
	background: RGBA(155,255,155,0.2); /* FireFox */  
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #1CB841;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #1CB841;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #1CB841;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #1CB841;
}

.menu .alignright ul {right: 0; left: initial}
.menu .alignright ul ul {right: 100%; left: initial}

legend {
	color: #7f1 !important;
}

.footer ul.social {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
} 

ul.social [class*="icon-"] {
	color: RGBA(155,255,155,0.2);
}

ul.social [class*="icon-"]:hover {
	color: RGBA(155,255,155,0.8) !important;
}

.bdiv {
	border: 2px outset #693;
}

.icon {
	font-size: 22px;
	text-decoration: none;
}

.icon.right {
	float: right;
	margin-right: 1% !important;
}

.icon.top {
	margin-top: 1% !important;
}

.icon.green {
	color: #6f6 !important;
}
.icon.green:hover {
	color: #3f3 !important;
}

.icon.red {
	color: #f66 !important;
}
.icon.red:hover {
	color: #f33 !important;
}

.icon.blue {
	color: #6aa !important;
}
.icon.blue:hover {
	color: #3aa !important;
}