button {
	-moz-box-shadow:inset 0px -12px 20px -50px #0a0;
	-webkit-box-shadow:inset 0px -12px 20px -50px #0a0;
	box-shadow:inset 0px -12px 20px -50px #0a0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0a0), color-stop(1, #000));
	background:-moz-linear-gradient(top, #0a0 5%, #000 100%);
	background:-webkit-linear-gradient(top, #0a0 5%, #000 100%);
	background:-o-linear-gradient(top, #0a0 5%, #000 100%);
	background:-ms-linear-gradient(top, #0a0 5%, #000 100%);
	background:linear-gradient(to bottom, #0a0 5%, #000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a0", endColorstr="#000",GradientType=0);
	background-color:#0a0;
	display:inline-block;
	cursor:pointer;
	color:#fa0;
	font-family:Arial;
	font-size:200%;
	text-decoration:none;
	text-shadow:1px 1px 5px #000;
	width: 101%;
	border: none;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0f0), color-stop(1, #000));
	background:-moz-linear-gradient(top, #0f0 5%, #000 100%);
	background:-webkit-linear-gradient(top, #0f0 5%, #000 100%);
	background:-o-linear-gradient(top, #0f0 5%, #000 100%);
	background:-ms-linear-gradient(top, #0f0 5%, #000 100%);
	background:linear-gradient(to bottom, #0f0 5%, #000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0", endColorstr="#000",GradientType=0);
	background-color:#0f0;
}
button:active {
	position:relative;
	top:1px;
}

.form-field {
	border: 2px solid #333333;
	background: #222;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #00ff00;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
	width:100%;
	font-size:200%;
}
.form-field:focus {
	background: #003300;
	color: #00ff00;
}

#menu {
    width: 100%;
    margin: 12px auto;
    border: 1px solid #222;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    border-radius: 6px;
    box-shadow: 0 1px 1px #777;
}

/* Menu */

#menu, #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu:before,
#menu:after {
    content: "";
    display: table;
}

#menu:after {
    clear: both;
}

#menu {
    zoom:1;
}

#menu li {
    float: left;
    border-right: 1px solid #0a0;
    box-shadow: 1px 0 0 #444;
    position: relative;
}

#menu a {
    float: left;
    padding: 12px 12px;
    color: #494;
    text-transform: uppercase;
    font: bold 12px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #040;
}

#menu li:hover > a {
    color: #0c0;
}

*html #menu li a:hover { /* IE6 only */
    color: #0c0;
}


#menu .selected {
    background-color: #353;
    background-image: linear-gradient(#242, #353);
}

#menu .selected > a {
	color: #494;
}

#menu .selected > a:hover,
#menu .selected > a:focus {
	color: #0c0;
	text-decoration: none;
}

#menu ul {
    margin: 20px 0 0 0;
    _margin: 0; /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;    
    background: #444;   
    background: linear-gradient(#444, #222);
    box-shadow: 0 -1px 0 rgba(255,255,255,.3);  
    border-radius: 3px;
    transition: all .2s ease-in-out;
}

#menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#menu ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    _margin: 0; /*IE6 only*/
    box-shadow: -1px 0 0 rgba(255,255,255,.3);      
}

#menu ul li {
    float: none;
    display: block;
    border: 0;
    _line-height: 0; /*IE6 only*/
    box-shadow: 0 1px 0 #111, 0 2px 0 #040;
}

#menu ul li:last-child {   
    box-shadow: none;    
}

#menu ul a {    
    padding: 10px;
    width: 130px;
    _height: 10px; /*IE6 only*/
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

#menu ul a:hover {
    background-color: #353;
    background-image: linear-gradient(#353, #131);
}

#menu ul li:first-child > a {
    border-radius: 3px 3px 0 0;
}

#menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
}

#menu ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0; 
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #444;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #090; 
}

#menu ul ul li:first-child a:hover:after {
    border-right-color: #090; 
    border-bottom-color: transparent;   
}

#menu ul li:last-child > a {
    border-radius: 0 0 3px 3px;
}


.tcpa {
	margin-top: -20px;
	margin-bottom: 25px;
    color: #494;
	background-color: #353;
    background-image: linear-gradient(#353, #131);
	padding: 15px 15px 5px 20px;
	box-shadow: 0 5px 0 #111, 0 2px 0 #040;
	font: 14px Arial, Helvetica;
	line-height: 30%;
}

.tcpa b {
	color: #0c0;
	font: bold 24px Arial, Helvetica;
	text-decoration: none;
    text-shadow: 0 2px 0 #020;
}

.tcpna {
	margin-top: -20px;
	margin-bottom: 25px;
    color: #494;
	background-color: #112011;
    background-image: linear-gradient(#213021, #112011);
	padding: 15px 15px 5px 20px;
	box-shadow: 0 5px 0 #111, 0 2px 0 #040;
	font: 14px Arial, Helvetica;
	line-height: 30%;
}

.tcpna b {
	color: #0c0;
	font: bold 24px Arial, Helvetica;
	text-decoration: none;
    text-shadow: 0 2px 0 #020;
}

.tcpna a {
	color: #595;
}

.tcpna a:hover {
	color: #092;
}