.news-feed-element {
	background: RGBA(255,255,155,0.1);
	padding: 1% 0 0.1% 2%;
}

.news-feed-title {
	color: #7aa !important;
	font-size: 22px;
}

.news-feed-short {

}

.news-feed-author {
	color: #7aa !important;
}

.news-feed-dt {
	color: #7aa;
	font-size: 13px;
}