@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
/* ====================================
   BASE
   ==================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Default styles */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #333333;
  background-color: #ffffff;
}
h1 {
  font-size: 60px;
  line-height: 72px;
}
h2 {
  font-size: 48px;
  line-height: 48px;
}
h3 {
  font-size: 36px;
  line-height: 48px;
}
h4 {
  font-size: 24px;
  line-height: 24px;
}
h5 {
  font-size: 16px;
  line-height: 24px;
}
h6 {
  font-size: 12px;
  line-height: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
/* Blocks */
blockquote {
  padding: 0 1em;
  border-left: 5px solid #eeeeee;
  color: #333333;
}
hr {
  border: 0;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #ffffff;
  margin: 0;
  margin-bottom: 22px;
}
ol,
ul {
  padding: 0 0 0 40px;
}
ol ol,
ul ul {
  margin: 0;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
dt {
  font-weight: bold;
  line-height: 1.7;
}
dd {
  line-height: 1.7;
  margin: 0 0 0 40px;
}
p,
blockquote,
dl,
menu,
ol,
ul,
dd,
img {
  margin-bottom: 24px;
}
/* Inline */
b,
strong {
  font-weight: bolder;
}
i,
cite,
em,
var,
dfn {
  font-style: italic;
}
label {
  cursor: pointer;
}
a {
  color: #0078e7;
  text-decoration: underline;
}
a:hover,
a:focus {
  color: #005eb4;
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 12.8px;
  line-height: 12.8px;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Code */
code,
pre,
kbd {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
kbd {
  font-size: 90%;
  background: #fafafa;
  border-left: 1px solid #CFCFCF;
  border-top: 1px solid #CFCFCF;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  padding: 0 5px;
  vertical-align: bottom;
}
code {
  padding: 2px 4px;
  font-size: 14.4px;
  line-height: 14.4px;
  color: #a62d2d;
  white-space: nowrap;
  background-color: #fafafa;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
pre {
  display: block;
  padding: 0 16px;
  font-size: 14.4px;
  line-height: 22px;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  background-color: #fafafa;
  border: 1px solid #eeeeee;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
pre code {
  padding: 0;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
  width: auto\9;
  display: block;
}
img.radius {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
img.polaroid {
  background-color: #ffffff;
  outline: 1px solid rgba(51, 51, 51, 0.2);
  outline-offset: 4px;
}
img.circle {
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
}
svg:not(:root) {
  overflow: hidden;
}
/* Alignment */
.alignleft {
  float: left;
  margin-right: 10px;
}
.alignright {
  float: right;
  margin-left: 10px;
}
.aligncenter {
  display: block;
  margin: 0 auto;
  text-align: center;
}
/* Container */
.container {
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
}
.container:before,
.container:after {
  display: table;
  content: " ";
}
.container:after {
  clear: both;
}
/* Responsive utility classes */
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.visible-desktop {
  display: inherit !important;
}
@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}