/* ====================================
   BUTTONS
   ==================================== */
.button {
  font-size: 14px;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  vertical-align: top;
  display: inline-block;
  padding: 9px 12px;
  margin: 0 0 9px;
  border: 1px solid #bbbbbb;
  background: #eeeeee;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.1s;
  border-radius: 3px 3px 3px 3px;
}
.button:hover,
.button:focus {
  background-color: #e6e6e6;
}
.button:focus {
  outline: 0;
}
.button:active,
.button.active {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 -1px 0px rgba(0, 0, 0, 0.05), inset 1px 0px 0px rgba(0, 0, 0, 0.05), inset -1px 0px 0px rgba(0, 0, 0, 0.05);
  background-color: #dfdfdf;
}
.button[disabled],
.button.disabled,
.button.disabled:hover,
.button.disabled:focus,
.button.disabled:active {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  opacity: 0.40;
  background: #eeeeee;
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.button.hidden {
  display: none;
}
.button::-moz-focus-inner {
  /* Firefox:  Get rid of the inner focus border */
  padding: 0;
  border: 0;
}
@media (min-width: 768px) {
  .menu .button {
    margin: 0;
  }
}
.button.xsmall {
  font-size: 10px;
  margin: 0 0 15px;
}
.button.small {
  font-size: 12px;
  margin: 0 0 12px;
}
.button.large {
  font-size: 18px;
  margin: 0 0 4px;
}
.button.xlarge {
  font-size: 24px;
  margin: 0 0 20px;
}
.button.radius {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.button.primary,
.button.blue,
.button.green,
.button.red,
.button.orange,
.button.light-blue,
.button.black {
  color: #ffffff;
}
.button.primary {
  background-color: #ed7063;
  border-color: #d22a18;
}
.button.primary:hover {
  background-color: #eb5f51;
}
.button.primary:active {
  background-color: #e94e3e;
}
.button.secondary {
  background-color: #eeeeee;
  border-color: #bbbbbb;
}
.button.secondary:hover {
  background-color: #e4e4e4;
}
.button.secondary:active {
  background-color: #dadada;
}
.button.blue {
  background-color: #0078e7;
  border-color: #004381;
}
.button.blue:hover {
  background-color: #006dd3;
}
.button.blue:active {
  background-color: #0063be;
}
.button.green {
  background-color: #1cb841;
  border-color: #0f5f22;
}
.button.green:hover {
  background-color: #19a63b;
}
.button.green:active {
  background-color: #179534;
}
.button.red {
  background-color: #ca3c3c;
  border-color: #7e2222;
}
.button.red:hover {
  background-color: #be3434;
}
.button.red:active {
  background-color: #ae2f2f;
}
.button.orange {
  background-color: #df7514;
  border-color: #81440c;
}
.button.orange:hover {
  background-color: #cc6b12;
}
.button.orange:active {
  background-color: #ba6111;
}
.button.light-blue {
  background-color: #42b8dd;
  border-color: #1c7e9d;
}
.button.light-blue:hover {
  background-color: #31b2da;
}
.button.light-blue:active {
  background-color: #26a8d1;
}
.button.black {
  background-color: #333333;
  border-color: #141414;
}
.button.black:hover {
  background-color: #292929;
}
.button.black:active {
  background-color: #1f1f1f;
}
