/* GROUPS
   ==================================== */
.group:before,
.group:after {
  display: table;
  content: " ";
}
.group:after {
  clear: both;
}
.group * {
  margin: 0;
  font-size: 14px;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  float: left;
}
.group *:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.group .addon {
  padding: 9px 12px;
  background-color: #f7f7f7;
  border: 1px solid #cccccc;
  color: #454545;
  display: inline-block;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.group.horizontal {
  margin-bottom: 9px;
}
.group.horizontal *:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.group.horizontal *:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.group.vertical * {
  float: none;
  display: block !important;
  width: 100%;
  padding: 13.5px 12px;
}
.group.vertical *:first-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.group.vertical *:last-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
/* Infoboxes
   ==================================== */
.infobox {
  padding: 24px;
  margin: 0 0 24px;
  border-radius: 3px 3px 3px 3px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  color: #a2a2a2;
  background: #eeeeee;
}
.infobox i {
  float: left;
  display: block;
  font-size: 48px;
  line-height: 48px;
  margin-right: 15px;
}
.infobox.primary {
  color: #a42113;
  background: #ed7063;
}
.infobox.secondary {
  color: #a2a2a2;
  background: #eeeeee;
}
.infobox.blue {
  color: #005eb4;
  background: #b4dbff;
}
.infobox.green {
  color: #12762a;
  background: #c4f6d0;
}
.infobox.red {
  color: #a62d2d;
  background: #f6dcdc;
}
.infobox.orange {
  color: #c96912;
  background: #fef9f4;
}
.infobox.light-blue {
  color: #24a1c8;
  background: #eff9fc;
}
.infobox.black {
  color: #333333;
  background: #999999;
}
/* Labels
   ==================================== */
.label {
  display: inline;
  background: #999999;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.label.radius {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.label.primary {
  background: #ed7063;
}
.label.secondary {
  background: #eeeeee;
}
.label.blue {
  background: #0078e7;
}
.label.green {
  background: #1cb841;
}
.label.red {
  background: #ca3c3c;
}
.label.orange {
  background: #df7514;
}
.label.light-blue {
  background: #42b8dd;
}
.label.black {
  background: #333333;
}
/* Progress Bar
   ==================================== */
.progress {
  height: 24px;
  margin-bottom: 24px;
  overflow: hidden;
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  border-radius: 3px 3px 3px 3px;
}
.progress .progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  background-color: #cccccc;
}
.progress.thin {
  height: 5px;
  margin: 0 0 19px;
}
.progress.primary {
  border-color: #ed7063;
}
.progress.primary .progress-bar {
  background: #ed7063;
}
.progress.secondary {
  border-color: #eeeeee;
}
.progress.secondary .progress-bar {
  background: #eeeeee;
}
.progress.blue {
  border-color: #0078e7;
}
.progress.blue .progress-bar {
  background: #0078e7;
}
.progress.green {
  border-color: #1cb841;
}
.progress.green .progress-bar {
  background: #1cb841;
}
.progress.red {
  border-color: #ca3c3c;
}
.progress.red .progress-bar {
  background: #ca3c3c;
}
.progress.orange {
  border-color: #df7514;
}
.progress.orange .progress-bar {
  background: #df7514;
}
.progress.light-blue {
  border-color: #42b8dd;
}
.progress.light-blue .progress-bar {
  background: #42b8dd;
}
.progress.black {
  border-color: #333333;
}
.progress.black .progress-bar {
  background: #333333;
}
/* Pricing table
   ==================================== */
.pricing-table {
  margin: 0 auto 24px;
  text-align: center;
}
.pricing-table .plan {
  background: #f7f7f7;
}
.pricing-table .plan .header {
  background: #8c8c8c;
  color: #ffffff;
}
.pricing-table .plan .header h2 {
  margin: 0;
  padding: 24px 0;
  font-weight: normal;
  text-transform: uppercase;
}
.pricing-table .plan .price {
  font-size: 72px;
  line-height: 72px;
  display: block;
  padding: 24px 0;
  background: #666666;
}
.pricing-table .plan .price span {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  *color: #ffffff;
}
.pricing-table .plan .pricing-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.pricing-table .plan .pricing-list li {
  padding: 11.5px 0;
  border-bottom: 1px solid #e6e6e6;
}
.pricing-table .plan .button {
  display: inline-block;
}
.pricing-table .plan.primary {
  border-color: #ed7063;
}
.pricing-table .plan.primary .header {
  background: #ed7063;
}
.pricing-table .plan.primary .price {
  background: #d22a18;
}
.pricing-table .plan.secondary {
  border-color: #eeeeee;
}
.pricing-table .plan.secondary .header {
  background: #eeeeee;
}
.pricing-table .plan.secondary .price {
  background: #bbbbbb;
}
.pricing-table .plan.blue {
  border-color: #0078e7;
}
.pricing-table .plan.blue .header {
  background: #0078e7;
}
.pricing-table .plan.blue .price {
  background: #004381;
}
.pricing-table .plan.green {
  border-color: #1cb841;
}
.pricing-table .plan.green .header {
  background: #1cb841;
}
.pricing-table .plan.green .price {
  background: #0f5f22;
}
.pricing-table .plan.red {
  border-color: #ca3c3c;
}
.pricing-table .plan.red .header {
  background: #ca3c3c;
}
.pricing-table .plan.red .price {
  background: #7e2222;
}
.pricing-table .plan.orange {
  border-color: #df7514;
}
.pricing-table .plan.orange .header {
  background: #df7514;
}
.pricing-table .plan.orange .price {
  background: #81440c;
}
.pricing-table .plan.black {
  border-color: #121212;
}
.pricing-table .plan.black .header {
  background: #121212;
}
.pricing-table .plan.black .price {
  background: #000000;
}
.pricing-table .optimal {
  transform: scale(1.05, 1.05);
}
@media (max-width: 768px) {
  .pricing-table {
    margin-bottom: 24px;
  }
}
/* Hint.css v1.2.0
   ==================================== */
.hint,
[data-hint] {
  position: relative;
  display: inline-block;
}
.hint:before,
.hint:after,
[data-hint]:before,
[data-hint]:after {
  position: absolute;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 100000;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
}
.hint:hover:before,
.hint:hover:after,
[data-hint]:hover:before,
[data-hint]:hover:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.hint:before,
[data-hint]:before {
  content: '';
  position: absolute;
  background: transparent;
  border: 6px solid transparent;
  z-index: 100001;
}
.hint:after,
[data-hint]:after {
  content: attr(data-hint);
  background: #383838;
  color: white;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
}
.hint-top:before {
  border-top-color: #383838;
}
.hint-bottom:before {
  border-bottom-color: #383838;
}
.hint-left:before {
  border-left-color: #383838;
}
.hint-right:before {
  border-right-color: #383838;
}
/* top tooltip*/
.hint-top:before {
  margin-bottom: -12px;
}
.hint-top:after {
  margin-left: -18px;
}
.hint-top:before,
.hint-top:after {
  bottom: 100%;
  left: 50%;
}
.hint-top:hover:before,
.hint-top:hover:after {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
}
/* bottom tooltip*/
.hint-bottom:before {
  margin-top: -12px;
}
.hint-bottom:after {
  margin-left: -18px;
}
.hint-bottom:before,
.hint-bottom:after {
  top: 100%;
  left: 50%;
}
.hint-bottom:hover:before,
.hint-bottom:hover:after {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  -o-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
}
/* right tooltip*/
.hint-right:before {
  margin-left: -12px;
  margin-bottom: -6px;
}
.hint-right:after {
  margin-bottom: -14px;
}
.hint-right:before,
.hint-right:after {
  left: 100%;
  bottom: 50%;
}
.hint-right:hover:before,
.hint-right:hover:after {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  -o-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
}
/* left tooltip*/
.hint-left:before {
  margin-right: -12px;
  margin-bottom: -6px;
}
.hint-left:after {
  margin-bottom: -14px;
}
.hint-left:before,
.hint-left:after {
  right: 100%;
  bottom: 50%;
}
.hint-left:hover:before,
.hint-left:hover:after {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  -o-transform: translateX(-8px);
  -ms-transform: translateX(-8px);
  transform: translateX(-8px);
}
/* COLORS */
/* Red */
.hint-red:after {
  background-color: #CA3C3C;
}
.hint-red.hint-top:before {
  border-top-color: #CA3C3C;
}
.hint-red.hint-bottom:before {
  border-bottom-color: #CA3C3C;
}
.hint-red.hint-left:before {
  border-left-color: #CA3C3C;
}
.hint-red.hint-right:before {
  border-right-color: #CA3C3C;
}
/* Yellow */
.hint-yellow:after {
  background-color: #DF7514;
}
.hint-yellow.hint-top:before {
  border-top-color: #DF7514;
}
.hint-yellow.hint-bottom:before {
  border-bottom-color: #DF7514;
}
.hint-yellow.hint-left:before {
  border-left-color: #DF7514;
}
.hint-yellow.hint-right:before {
  border-right-color: #DF7514;
}
/* Blue */
.hint-blue:after {
  background-color: #0078E7;
}
.hint-blue.hint-top:before {
  border-top-color: #0078E7;
}
.hint-blue.hint-bottom:before {
  border-bottom-color: #0078E7;
}
.hint-blue.hint-left:before {
  border-left-color: #0078E7;
}
.hint-blue.hint-right:before {
  border-right-color: #0078E7;
}
/* Green */
.hint-green:after {
  background-color: #1CB841;
}
.hint-green.hint-top:before {
  border-top-color: #1CB841;
}
.hint-green.hint-bottom:before {
  border-bottom-color: #1CB841;
}
.hint-green.hint-left:before {
  border-left-color: #1CB841;
}
.hint-green.hint-right:before {
  border-right-color: #1CB841;
}
/* EXTRA */
.hint-always:after,
.hint-always:before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.hint-always.hint-top:after,
.hint-always.hint-top:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
}
.hint-always.hint-bottom:after,
.hint-always.hint-bottom:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  -o-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
}
.hint-always.hint-left:after,
.hint-always.hint-left:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  -o-transform: translateX(-8px);
  -ms-transform: translateX(-8px);
  transform: translateX(-8px);
}
.hint-always.hint-right:after,
.hint-always.hint-right:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  -o-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
}
.hint-rounded:after {
  border-radius: 4px;
}
