/* ====================================
   FORMS
   ==================================== */
input,
select,
textarea {
  font-size: 14px;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  vertical-align: top;
  display: inline-block;
  padding: 9px 12px;
  margin: 0 0 9px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 3px #eeeeee;
  border-radius: 3px 3px 3px 3px;
}
input:focus,
select:focus,
textarea:focus {
  outline: 0;
  outline: thin dotted \9;
  border-color: #0078e7;
}
input:focus:invalid,
select:focus:invalid,
textarea:focus:invalid {
  color: #ca3c3c;
  border: 1px solid #da7878;
}
input:focus:invalid:focus,
select:focus:invalid:focus,
textarea:focus:invalid:focus {
  border-color: #de8484;
}
input[disabled],
select[disabled],
textarea[disabled] {
  cursor: not-allowed;
  background-color: #e6e6e6;
  color: #8c8c8c;
}
input[readonly],
select[readonly],
textarea[readonly] {
  background: #ededed;
  color: #787878;
  border-color: #cccccc;
}
input.radius,
select.radius,
textarea.radius {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 0.5em 1em;
}
input.xsmall,
select.xsmall,
textarea.xsmall {
  font-size: 10px;
  margin: 0 0 15px;
}
input.small,
select.small,
textarea.small {
  font-size: 12px;
  margin: 0 0 12px;
}
input.large,
select.large,
textarea.large {
  font-size: 18px;
  margin: 0 0 4px;
}
input.xlarge,
select.xlarge,
textarea.xlarge {
  font-size: 24px;
  margin: 0 0 20px;
}
@media (min-width: 768px) {
  .menu input,
  .menu select,
  .menu textarea {
    margin: 0;
  }
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333333;
  outline: 1px auto #0078e7;
}
input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
  outline-color: #de8484;
}
form .checkbox,
form .radio {
  display: block;
}
form label {
  font-size: 90%;
}
form legend {
  display: block;
  width: 100%;
  padding: 0 0 11px 0;
  margin-bottom: 12px;
  font-size: 18.4px;
  color: #333;
  border-bottom: 1px solid #e1e1e1;
}
form input[type="checkbox"],
form input[type="radio"] {
  display: inline;
  margin: 0;
  vertical-align: inherit;
}
form.stacked > * {
  display: block;
}
form.aligned input,
form.aligned textarea,
form.aligned select {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
form.aligned .control-group label {
  text-align: right;
  display: inline-block;
  width: 10em;
  margin: 0 1em 0 0;
}
form.aligned .controls {
  margin: 0 0 0 10em;
}
select[multiple] {
  height: auto;
}
textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
@media only screen and (max-width: 768px) {
  label,
  input,
  select,
  textarea {
    display: block;
  }
  form.aligned .control-group label {
    text-align: left;
    display: block;
    width: 100%;
  }
  form.aligned .controls {
    margin: 0;
  }
}
