/* ICONS */
@font-face {
  font-family: 'zenit';
  src: url('fonts/zenit.eot');
  src: url('fonts/zenit.eot?#iefix') format('embedded-opentype'), url('fonts/zenit.woff') format('woff'), url('fonts/zenit.ttf') format('truetype'), url('fonts/zenit.svg#zenit') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*="icon-"]:before {
  font-family: 'zenit' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-vk:before {
  content: "\f189";
}
.icon-linux:before {
  content: "\f17c";
}
.icon-windows:before {
  content: "\f17a";
}
.icon-apple:before {
  content: "\f179";
}
.icon-android:before {
  content: "\f17b";
}
.icon-youtube-sign:before {
  content: "\f166";
}
.icon-tumblr-sign:before {
  content: "\f174";
}
.icon-long-arrow-down:before {
  content: "\f175";
}
.icon-long-arrow-up:before {
  content: "\f176";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-female:before {
  content: "\f182";
}
.icon-male:before {
  content: "\f183";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-skype:before {
  content: "\f17e";
}
.icon-thumbs-up:before {
  content: "\f164";
}
.icon-thumbs-down:before {
  content: "\f165";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-github-sign:before {
  content: "\f092";
}
.icon-twitter-sign:before {
  content: "\f081";
}
.icon-facebook-sign:before {
  content: "\f082";
}
.icon-warning-sign:before {
  content: "\f071";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-comment:before {
  content: "\f075";
}
.icon-linkedin-sign:before {
  content: "\f08c";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-pushpin:before {
  content: "\f08d";
}
.icon-picture:before {
  content: "\f03e";
}
.icon-facetime-video:before {
  content: "\f03d";
}
.icon-film:before {
  content: "\f008";
}
.icon-user:before {
  content: "\f007";
}
.icon-star-empty:before {
  content: "\f006";
}
.icon-star:before {
  content: "\f005";
}
.icon-heart:before {
  content: "\f004";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-file:before {
  content: "\f016";
}
.icon-eye-open:before {
  content: "\f06e";
}
.icon-eye-close:before {
  content: "\f070";
}
.icon-key:before {
  content: "\f084";
}
.icon-comments:before {
  content: "\f086";
}
.icon-envelope:before {
  content: "\f003";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-remove-sign:before {
  content: "\f057";
}
.icon-ok-sign:before {
  content: "\f058";
}
.icon-question-sign:before {
  content: "\f059";
}
.icon-info-sign:before {
  content: "\f05a";
}
.icon-exclamation-sign:before {
  content: "\f06a";
}
.icon-folder-close:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-flag:before {
  content: "\f024";
}
.icon-double-angle-left:before {
  content: "\f100";
}
.icon-double-angle-right:before {
  content: "\f101";
}
.icon-double-angle-up:before {
  content: "\f102";
}
.icon-double-angle-down:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-paper-clip:before {
  content: "\f0c6";
}
.icon-pinterest-sign:before {
  content: "\f0d3";
}
.icon-google-plus-sign:before {
  content: "\f0d4";
}
.icon-rss-sign:before {
  content: "\f143";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-flickr:before {
  content: "\f16e";
}
.icon-microphone:before {
  content: "\f130";
}
.icon-home:before {
  content: "\e000";
}
.icon-plus-sign:before {
  content: "\f055";
}
.icon-minus-sign:before {
  content: "\f056";
}
.icon-xing-sign:before {
  content: "\f169";
}
.icon-star-half-full:before {
  content: "\f123";
}
.icon-print:before {
  content: "\f02f";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-tablet:before {
  content: "\f10a";
}
.icon-cloud-download:before {
  content: "\f0ed";
}
.icon-cloud-upload:before {
  content: "\f0ee";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-heart-empty:before {
  content: "\f08a";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-spinner:before {
  content: "\f110";
}
/*  Socials */
ul.social {
  text-align: left;
  padding: 0;
}
ul.social li {
  display: inline-block;
  font-size: 40px;
  line-height: 48px;
}
ul.social li a {
  color: #363636;
  text-decoration: none !important;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
ul.social li a:active {
  opacity: 0.8;
}
ul.social .icon-dribbble:hover,
ul.social .icon-flickr:hover {
  color: #db4780;
}
ul.social .icon-facebook-sign:hover {
  color: #436eac;
}
ul.social .icon-github-sign:hover {
  color: #454545;
}
ul.social .icon-google-plus-sign:hover {
  color: #d91814;
}
ul.social .icon-instagram:hover {
  color: #589dce;
}
ul.social .icon-linkedin-sign:hover {
  color: #2e8cc2;
}
ul.social .icon-pinterest-sign:hover {
  color: #cb2027;
}
ul.social .icon-tumblr-sign:hover {
  color: #3d5e7d;
}
ul.social .icon-twitter-sign:hover {
  color: #0598c9;
}
ul.social .icon-vk:hover {
  color: #1c729a;
}
ul.social .icon-youtube-sign:hover {
  color: #e32114;
}
ul.social.small {
  height: 24px;
}
ul.social.small li {
  font-size: 24px;
  line-height: 24px;
}
ul.social.large li {
  font-size: 56px;
  line-height: 72px;
}
ul.social.center {
  text-align: center;
}
ul.social.right {
  text-align: right;
}
/* Menu with icons */
.menu li.menu-parent > a:after {
  font-family: 'zenit';
  content: " \f107" !important;
}
.menu ul ul li.menu-parent > a:after,
.menu.vertical li.menu-parent > a:after {
  content: " \f101" !important;
}
.menu.droptop li.menu-parent > a:after {
  content: " \f106" !important;
}
.menu.droptop ul ul li.menu-parent > a:after {
  content: " \f101" !important;
}
.menu a[class*="icon"]:before {
  font-family: 'zenit';
  font-weight: normal;
  font-style: normal;
  margin-right: 5px;
}
