/* ====================================
   MENU
   ==================================== */
.menu ul {
  margin: 0;
  padding: 0;
  background: #e9e9e9;
}
.menu ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: none;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(51, 51, 51, 0.3);
}
.menu ul ul li {
  display: block;
  width: 100%;
}
.menu ul ul li.menu-parent > a:after {
  content: ' \25B8';
}
.menu ul ul ul {
  left: 100%;
  top: 0;
}
.menu ul li {
  position: relative;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
}
.menu ul li:hover > a,
.menu ul li.active > a {
  background: #d5d5d5;
  color: #121212;
}
.menu ul li:hover > ul {
  display: block;
}
.menu ul li.menu-parent > a:after {
  content: " \25BE";
  line-height: 50%;
}
.menu ul a {
  text-decoration: none;
  color: #787878;
  padding: 0 24px;
  line-height: 48px;
  display: block;
  white-space: nowrap;
}
.menu > ul {
  border-radius: 5px 5px 5px 5px;
}
.menu > ul > li:first-child a {
  border-radius: 5px 0 0 5px;
}
.menu .brand:hover {
  background: inherit;
}
.menu .brand a {
  text-transform: uppercase;
  font-weight: bold;
  color: #333333;
}
.menu.vertical > ul > li:first-child a {
  border-radius: 5px 5px 0 0;
}
.menu.vertical li {
  width: 100%;
}
.menu.vertical li.menu-parent > a:after {
  content: ' \25B8';
}
.menu.vertical ul ul {
  left: 100%;
  top: 0;
}
.menu.droptop ul ul {
  top: auto;
  bottom: 100%;
  box-shadow: 0 -2px 8px rgba(51, 51, 51, 0.3);
}
.menu.droptop ul ul ul {
  bottom: 0;
}
.menu.droptop li.menu-parent > a:after {
  content: " \25B4";
}
.menu.droptop ul ul li.menu-parent > a:after {
  content: ' \25B8';
}
.menu.dropleft ul ul ul {
  left: auto;
  right: 100%;
}
.menu.dropleft.vertical ul ul {
  left: auto;
  right: 100%;
}
.menu li.alignright ul {
  right: 0;
  left: auto;
}
.menu li.alignright ul ul {
  right: 100%;
  left: auto;
}
.menu.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;-
  z-index: 999999;
}
.menu.fixed-top ul {
  border-radius: 0;
}
.menu.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
}
.menu.fixed-bottom ul {
  border-radius: 0;
}
.menu.fixed-bottom ul ul {
  top: auto;
  bottom: 100%;
  box-shadow: 0 -2px 8px rgba(51, 51, 51, 0.3);
}
.menu.fixed-bottom ul ul ul {
  bottom: 0;
}
.menu.fixed-bottom li.menu-parent > a:after {
  content: " \25B4";
}
.menu.fixed-bottom ul ul li.menu-parent > a:after {
  content: ' \25B8';
}
@media only screen and (max-width: 768px) {
  .menu {
    position: relative;
    min-height: 48px;
  }
  .menu > ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  .menu > ul::before {
    content: 'Show Menu';
    color: #787878;
    padding: 0 24px;
    line-height: 48px;
    display: block;
    white-space: nowrap;
  }
  .menu > ul > li:first-child a {
    border-radius: 0 !important;
  }
  .menu ul li {
    display: none;
    /* hide all <li> items */
    margin: 0;
  }
  .menu ul ul {
    display: block;
    padding-left: 2em;
    position: static;
    background: none;
    border: 0 none;
    box-shadow: none !important;
  }
  .menu .menu-parent > a:after {
    content: '' !important;
  }
  .menu:hover {
    z-index: 1000;
  }
  .menu:hover li {
    display: block;
  }
}
