/* ====================================
   TABLES
   ==================================== */
table {
  empty-cells: show;
  border: 1px solid #cccccc;
  color: #333333;
  /* BORDERED TABLES */
  /* HORIZONTAL BORDERED TABLES */
  /* Striped */
}
table caption {
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}
table td {
  background-color: #ffffff;
}
table td,
table th {
  border-left: 1px solid #cccccc;
  border-width: 0 0 0 1px;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  overflow: visible;
  padding: 12px;
}
table td:first-child,
table th:first-child {
  border-left-width: 0;
}
table thead {
  background: #e0e0e0;
  color: #000000;
  text-align: left;
  vertical-align: bottom;
}
table.bordered td,
table.bordered th {
  border-bottom: 1px solid #cccccc;
}
table.bordered tbody > tr:last-child td {
  border-bottom-width: 0;
}
table.horizontal td,
table.horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #cccccc;
}
table.horizontal tbody > tr:last-child td {
  border-bottom-width: 0;
}
table .odd td,
table.striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}
