/*!
 * Name: Zenit
 * URI: http://designandcode.ru/zenit/
 * Description: A powerful and easy-to-use CSS framework
 * Version: 0.0.1 (alfa)
 * Author: Konstantin Karnauhov
 * Author URI: http://designandcode.ru/
 * License: BSD License
 * License URI: http://opensource.org/licenses/bsd-license.php
 */
@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
/* ====================================
   BASE
   ==================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Default styles */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #333333;
  background-color: #ffffff;
}
h1 {
  font-size: 60px;
  line-height: 72px;
}
h2 {
  font-size: 48px;
  line-height: 48px;
}
h3 {
  font-size: 36px;
  line-height: 48px;
}
h4 {
  font-size: 24px;
  line-height: 24px;
}
h5 {
  font-size: 16px;
  line-height: 24px;
}
h6 {
  font-size: 12px;
  line-height: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
/* Blocks */
blockquote {
  padding: 0 1em;
  border-left: 5px solid #eeeeee;
  color: #333333;
}
hr {
  border: 0;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #ffffff;
  margin: 0;
  margin-bottom: 22px;
}
ol,
ul {
  padding: 0 0 0 40px;
}
ol ol,
ul ul {
  margin: 0;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
dt {
  font-weight: bold;
  line-height: 1.7;
}
dd {
  line-height: 1.7;
  margin: 0 0 0 40px;
}
p,
blockquote,
dl,
menu,
ol,
ul,
dd,
img {
  margin-bottom: 24px;
}
/* Inline */
b,
strong {
  font-weight: bolder;
}
i,
cite,
em,
var,
dfn {
  font-style: italic;
}
label {
  cursor: pointer;
}
a {
  color: #0078e7;
  text-decoration: underline;
}
a:hover,
a:focus {
  color: #005eb4;
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 12.8px;
  line-height: 12.8px;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Code */
code,
pre,
kbd {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
kbd {
  font-size: 90%;
  background: #fafafa;
  border-left: 1px solid #CFCFCF;
  border-top: 1px solid #CFCFCF;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  padding: 0 5px;
  vertical-align: bottom;
}
code {
  padding: 2px 4px;
  font-size: 14.4px;
  line-height: 14.4px;
  color: #a62d2d;
  white-space: nowrap;
  background-color: #fafafa;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
pre {
  display: block;
  padding: 0 16px;
  font-size: 14.4px;
  line-height: 22px;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  background-color: #fafafa;
  border: 1px solid #eeeeee;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
pre code {
  padding: 0;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
  width: auto\9;
  display: block;
}
img.radius {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
img.polaroid {
  background-color: #ffffff;
  outline: 1px solid rgba(51, 51, 51, 0.2);
  outline-offset: 4px;
}
img.circle {
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
}
svg:not(:root) {
  overflow: hidden;
}
/* Alignment */
.alignleft {
  float: left;
  margin-right: 10px;
}
.alignright {
  float: right;
  margin-left: 10px;
}
.aligncenter {
  display: block;
  margin: 0 auto;
  text-align: center;
}
/* Container */
.container {
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
}
.container:before,
.container:after {
  display: table;
  content: " ";
}
.container:after {
  clear: both;
}
/* Responsive utility classes */
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.visible-desktop {
  display: inherit !important;
}
@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}

/* ====================================
   GRID
   ==================================== */
.row {
  width: 100%;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: " ";
}
.row:after {
  clear: both;
}
.row [class*="col"] {
  min-height: 24px;
  float: left;
  padding: 0 5px;
}
.col-5 {
  width: 5%;
}
.col-10 {
  width: 10%;
}
.col-15 {
  width: 15%;
}
.col-20 {
  width: 20%;
}
.col-25 {
  width: 25%;
}
.col-30 {
  width: 30%;
}
.col-33 {
  width: 33.33333%;
}
.col-35 {
  width: 35%;
}
.col-40 {
  width: 40%;
}
.col-45 {
  width: 45%;
}
.col-50 {
  width: 50%;
}
.col-55 {
  width: 55%;
}
.col-60 {
  width: 60%;
}
.col-65 {
  width: 65%;
}
.col-66 {
  width: 66.66667%;
}
.col-70 {
  width: 70%;
}
.col-75 {
  width: 75%;
}
.col-80 {
  width: 80%;
}
.col-85 {
  width: 85%;
}
.col-90 {
  width: 90%;
}
.col-95 {
  width: 95%;
}
.col-100 {
  width: 100%;
}
.offset-5 {
  margin-left: 5%;
}
.offset-10 {
  margin-left: 10%;
}
.offset-15 {
  margin-left: 15%;
}
.offset-20 {
  margin-left: 20%;
}
.offset-25 {
  margin-left: 25%;
}
.offset-30 {
  margin-left: 30%;
}
.offset-33 {
  margin-left: 33.33333%;
}
.offset-35 {
  margin-left: 35%;
}
.offset-40 {
  margin-left: 40%;
}
.offset-45 {
  margin-left: 45%;
}
.offset-50 {
  margin-left: 50%;
}
.offset-55 {
  margin-left: 55%;
}
.offset-60 {
  margin-left: 60%;
}
.offset-65 {
  margin-left: 65%;
}
.offset-66 {
  margin-left: 66.66667%;
}
.offset-70 {
  margin-left: 70%;
}
.offset-75 {
  margin-left: 75%;
}
.offset-80 {
  margin-left: 80%;
}
.offset-85 {
  margin-left: 85%;
}
.offset-90 {
  margin-left: 90%;
}
.offset-95 {
  margin-left: 95%;
}
@media only screen and (max-width: 767px) {
  [class*="col"] {
    display: block;
    width: 100%;
    float: none !important;
    margin: 0;
  }
  [class*="mobile-col"] {
    float: left !important;
  }
  .mobile-col-15 {
    width: 15%;
  }
  .mobile-col-20 {
    width: 20%;
  }
  .mobile-col-25 {
    width: 25%;
  }
  .mobile-col-30 {
    width: 30%;
  }
  .mobile-col-33 {
    width: 33.33333%;
  }
  .mobile-col-35 {
    width: 35%;
  }
  .mobile-col-40 {
    width: 40%;
  }
  .mobile-col-45 {
    width: 45%;
  }
  .mobile-col-50 {
    width: 50%;
  }
  .mobile-col-55 {
    width: 55%;
  }
  .mobile-col-60 {
    width: 60%;
  }
  .mobile-col-65 {
    width: 65%;
  }
  .mobile-col-66 {
    width: 66.66667%;
  }
  .mobile-col-70 {
    width: 70%;
  }
  .mobile-col-75 {
    width: 75%;
  }
  .mobile-col-80 {
    width: 80%;
  }
  .mobile-col-85 {
    width: 85%;
  }
  .mobile-col-90 {
    width: 90%;
  }
  .mobile-col-95 {
    width: 95%;
  }
  [class*="mobile-col"].offset-5 {
    margin-left: 5%;
  }
  [class*="mobile-col"].offset-10 {
    margin-left: 10%;
  }
  [class*="mobile-col"].offset-15 {
    margin-left: 15%;
  }
  [class*="mobile-col"].offset-20 {
    margin-left: 20%;
  }
  [class*="mobile-col"].offset-25 {
    margin-left: 25%;
  }
  [class*="mobile-col"].offset-30 {
    margin-left: 30%;
  }
  [class*="mobile-col"].offset-33 {
    margin-left: 33.33333%;
  }
  [class*="mobile-col"].offset-35 {
    margin-left: 35%;
  }
  [class*="mobile-col"].offset-40 {
    margin-left: 40%;
  }
  [class*="mobile-col"].offset-45 {
    margin-left: 45%;
  }
  [class*="mobile-col"].offset-50 {
    margin-left: 50%;
  }
  [class*="mobile-col"].offset-55 {
    margin-left: 55%;
  }
  [class*="mobile-col"].offset-60 {
    margin-left: 60%;
  }
  [class*="mobile-col"].offset-65 {
    margin-left: 65%;
  }
  [class*="mobile-col"].offset-66 {
    margin-left: 66.66667%;
  }
  [class*="mobile-col"].offset-70 {
    margin-left: 70%;
  }
  [class*="mobile-col"].offset-75 {
    margin-left: 75%;
  }
  [class*="mobile-col"].offset-80 {
    margin-left: 80%;
  }
  [class*="mobile-col"].offset-85 {
    margin-left: 85%;
  }
  [class*="mobile-col"].offset-90 {
    margin-left: 90%;
  }
  [class*="mobile-col"].offset-95 {
    margin-left: 95%;
  }
}

/* ====================================
   FORMS
   ==================================== */
input,
select,
textarea {
  font-size: 14px;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  vertical-align: top;
  display: inline-block;
  padding: 9px 12px;
  margin: 0 0 9px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 3px #eeeeee;
  border-radius: 3px 3px 3px 3px;
}
input:focus,
select:focus,
textarea:focus {
  outline: 0;
  outline: thin dotted \9;
  border-color: #0078e7;
}
input:focus:invalid,
select:focus:invalid,
textarea:focus:invalid {
  color: #ca3c3c;
  border: 1px solid #da7878;
}
input:focus:invalid:focus,
select:focus:invalid:focus,
textarea:focus:invalid:focus {
  border-color: #de8484;
}
input[disabled],
select[disabled],
textarea[disabled] {
  cursor: not-allowed;
  background-color: #e6e6e6;
  color: #8c8c8c;
}
input[readonly],
select[readonly],
textarea[readonly] {
  background: #ededed;
  color: #787878;
  border-color: #cccccc;
}
input.radius,
select.radius,
textarea.radius {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 0.5em 1em;
}
input.xsmall,
select.xsmall,
textarea.xsmall {
  font-size: 10px;
  margin: 0 0 15px;
}
input.small,
select.small,
textarea.small {
  font-size: 12px;
  margin: 0 0 12px;
}
input.large,
select.large,
textarea.large {
  font-size: 18px;
  margin: 0 0 4px;
}
input.xlarge,
select.xlarge,
textarea.xlarge {
  font-size: 24px;
  margin: 0 0 20px;
}
@media (min-width: 768px) {
  .menu input,
  .menu select,
  .menu textarea {
    margin: 0;
  }
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333333;
  outline: 1px auto #0078e7;
}
input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
  outline-color: #de8484;
}
form .checkbox,
form .radio {
  display: block;
}
form label {
  font-size: 90%;
}
form legend {
  display: block;
  width: 100%;
  padding: 0 0 11px 0;
  margin-bottom: 12px;
  font-size: 18.4px;
  color: #333;
  border-bottom: 1px solid #e1e1e1;
}
form input[type="checkbox"],
form input[type="radio"] {
  display: inline;
  margin: 0;
  vertical-align: inherit;
}
form.stacked > * {
  display: block;
}
form.aligned input,
form.aligned textarea,
form.aligned select {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
form.aligned .control-group label {
  text-align: right;
  display: inline-block;
  width: 10em;
  margin: 0 1em 0 0;
}
form.aligned .controls {
  margin: 0 0 0 10em;
}
select[multiple] {
  height: auto;
}
textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
@media only screen and (max-width: 768px) {
  label,
  input,
  select,
  textarea {
    display: block;
  }
  form.aligned .control-group label {
    text-align: left;
    display: block;
    width: 100%;
  }
  form.aligned .controls {
    margin: 0;
  }
}

/* ====================================
   BUTTONS
   ==================================== */
.button {
  font-size: 14px;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  vertical-align: top;
  display: inline-block;
  padding: 9px 12px;
  margin: 0 0 9px;
  border: 1px solid #bbbbbb;
  background: #eeeeee;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.1s;
  border-radius: 3px 3px 3px 3px;
}
.button:hover,
.button:focus {
  background-color: #e6e6e6;
}
.button:focus {
  outline: 0;
}
.button:active,
.button.active {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 -1px 0px rgba(0, 0, 0, 0.05), inset 1px 0px 0px rgba(0, 0, 0, 0.05), inset -1px 0px 0px rgba(0, 0, 0, 0.05);
  background-color: #dfdfdf;
}
.button[disabled],
.button.disabled,
.button.disabled:hover,
.button.disabled:focus,
.button.disabled:active {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  opacity: 0.40;
  background: #eeeeee;
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.button.hidden {
  display: none;
}
.button::-moz-focus-inner {
  /* Firefox:  Get rid of the inner focus border */
  padding: 0;
  border: 0;
}
@media (min-width: 768px) {
  .menu .button {
    margin: 0;
  }
}
.button.xsmall {
  font-size: 10px;
  margin: 0 0 15px;
}
.button.small {
  font-size: 12px;
  margin: 0 0 12px;
}
.button.large {
  font-size: 18px;
  margin: 0 0 4px;
}
.button.xlarge {
  font-size: 24px;
  margin: 0 0 20px;
}
.button.radius {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.button.primary,
.button.blue,
.button.green,
.button.red,
.button.orange,
.button.light-blue,
.button.black {
  color: #ffffff;
}
.button.primary {
  background-color: #ed7063;
  border-color: #d22a18;
}
.button.primary:hover {
  background-color: #eb5f51;
}
.button.primary:active {
  background-color: #e94e3e;
}
.button.secondary {
  background-color: #eeeeee;
  border-color: #bbbbbb;
}
.button.secondary:hover {
  background-color: #e4e4e4;
}
.button.secondary:active {
  background-color: #dadada;
}
.button.blue {
  background-color: #0078e7;
  border-color: #004381;
}
.button.blue:hover {
  background-color: #006dd3;
}
.button.blue:active {
  background-color: #0063be;
}
.button.green {
  background-color: #1cb841;
  border-color: #0f5f22;
}
.button.green:hover {
  background-color: #19a63b;
}
.button.green:active {
  background-color: #179534;
}
.button.red {
  background-color: #ca3c3c;
  border-color: #7e2222;
}
.button.red:hover {
  background-color: #be3434;
}
.button.red:active {
  background-color: #ae2f2f;
}
.button.orange {
  background-color: #df7514;
  border-color: #81440c;
}
.button.orange:hover {
  background-color: #cc6b12;
}
.button.orange:active {
  background-color: #ba6111;
}
.button.light-blue {
  background-color: #42b8dd;
  border-color: #1c7e9d;
}
.button.light-blue:hover {
  background-color: #31b2da;
}
.button.light-blue:active {
  background-color: #26a8d1;
}
.button.black {
  background-color: #333333;
  border-color: #141414;
}
.button.black:hover {
  background-color: #292929;
}
.button.black:active {
  background-color: #1f1f1f;
}

/* ====================================
   TABLES
   ==================================== */
table {
  empty-cells: show;
  border: 1px solid #cccccc;
  color: #333333;
  /* BORDERED TABLES */
  /* HORIZONTAL BORDERED TABLES */
  /* Striped */
}
table caption {
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}
table td {
  background-color: #ffffff;
}
table td,
table th {
  border-left: 1px solid #cccccc;
  border-width: 0 0 0 1px;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  overflow: visible;
  padding: 12px;
}
table td:first-child,
table th:first-child {
  border-left-width: 0;
}
table thead {
  background: #e0e0e0;
  color: #000000;
  text-align: left;
  vertical-align: bottom;
}
table.bordered td,
table.bordered th {
  border-bottom: 1px solid #cccccc;
}
table.bordered tbody > tr:last-child td {
  border-bottom-width: 0;
}
table.horizontal td,
table.horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #cccccc;
}
table.horizontal tbody > tr:last-child td {
  border-bottom-width: 0;
}
table .odd td,
table.striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}

/* ====================================
   MENU
   ==================================== */
.menu ul {
  margin: 0;
  padding: 0;
  background: #e9e9e9;
}
.menu ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: none;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(51, 51, 51, 0.3);
}
.menu ul ul li {
  display: block;
  width: 100%;
}
.menu ul ul li.menu-parent > a:after {
  content: ' \25B8';
}
.menu ul ul ul {
  left: 100%;
  top: 0;
}
.menu ul li {
  position: relative;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
}
.menu ul li:hover > a,
.menu ul li.active > a {
  background: #d5d5d5;
  color: #121212;
}
.menu ul li:hover > ul {
  display: block;
}
.menu ul li.menu-parent > a:after {
  content: " \25BE";
  line-height: 50%;
}
.menu ul a {
  text-decoration: none;
  color: #787878;
  padding: 0 24px;
  line-height: 48px;
  display: block;
  white-space: nowrap;
}
.menu > ul {
  border-radius: 5px 5px 5px 5px;
}
.menu > ul > li:first-child a {
  border-radius: 5px 0 0 5px;
}
.menu .brand:hover {
  background: inherit;
}
.menu .brand a {
  text-transform: uppercase;
  font-weight: bold;
  color: #333333;
}
.menu.vertical > ul > li:first-child a {
  border-radius: 5px 5px 0 0;
}
.menu.vertical li {
  width: 100%;
}
.menu.vertical li.menu-parent > a:after {
  content: ' \25B8';
}
.menu.vertical ul ul {
  left: 100%;
  top: 0;
}
.menu.droptop ul ul {
  top: auto;
  bottom: 100%;
  box-shadow: 0 -2px 8px rgba(51, 51, 51, 0.3);
}
.menu.droptop ul ul ul {
  bottom: 0;
}
.menu.droptop li.menu-parent > a:after {
  content: " \25B4";
}
.menu.droptop ul ul li.menu-parent > a:after {
  content: ' \25B8';
}
.menu.dropleft ul ul ul {
  left: auto;
  right: 100%;
}
.menu.dropleft.vertical ul ul {
  left: auto;
  right: 100%;
}
.menu li.alignright ul {
  right: 0;
  left: auto;
}
.menu li.alignright ul ul {
  right: 100%;
  left: auto;
}
.menu.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;-
  z-index: 999999;
}
.menu.fixed-top ul {
  border-radius: 0;
}
.menu.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
}
.menu.fixed-bottom ul {
  border-radius: 0;
}
.menu.fixed-bottom ul ul {
  top: auto;
  bottom: 100%;
  box-shadow: 0 -2px 8px rgba(51, 51, 51, 0.3);
}
.menu.fixed-bottom ul ul ul {
  bottom: 0;
}
.menu.fixed-bottom li.menu-parent > a:after {
  content: " \25B4";
}
.menu.fixed-bottom ul ul li.menu-parent > a:after {
  content: ' \25B8';
}
@media only screen and (max-width: 768px) {
  .menu {
    position: relative;
    min-height: 48px;
  }
  .menu > ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  .menu > ul::before {
    content: 'Show Menu';
    color: #787878;
    padding: 0 24px;
    line-height: 48px;
    display: block;
    white-space: nowrap;
  }
  .menu > ul > li:first-child a {
    border-radius: 0 !important;
  }
  .menu ul li {
    display: none;
    /* hide all <li> items */
    margin: 0;
  }
  .menu ul ul {
    display: block;
    padding-left: 2em;
    position: static;
    background: none;
    border: 0 none;
    box-shadow: none !important;
  }
  .menu .menu-parent > a:after {
    content: '' !important;
  }
  .menu:hover {
    z-index: 1000;
  }
  .menu:hover li {
    display: block;
  }
}
/* GROUPS
   ==================================== */
.group:before,
.group:after {
  display: table;
  content: " ";
}
.group:after {
  clear: both;
}
.group * {
  margin: 0;
  font-size: 14px;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  float: left;
}
.group *:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.group .addon {
  padding: 9px 12px;
  background-color: #f7f7f7;
  border: 1px solid #cccccc;
  color: #454545;
  display: inline-block;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.group.horizontal {
  margin-bottom: 9px;
}
.group.horizontal *:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.group.horizontal *:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.group.vertical * {
  float: none;
  display: block !important;
  width: 100%;
  padding: 13.5px 12px;
}
.group.vertical *:first-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.group.vertical *:last-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
/* Infoboxes
   ==================================== */
.infobox {
  padding: 24px;
  margin: 0 0 24px;
  border-radius: 3px 3px 3px 3px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  color: #a2a2a2;
  background: #eeeeee;
}
.infobox i {
  float: left;
  display: block;
  font-size: 48px;
  line-height: 48px;
  margin-right: 15px;
}
.infobox.primary {
  color: #a42113;
  background: #ed7063;
}
.infobox.secondary {
  color: #a2a2a2;
  background: #eeeeee;
}
.infobox.blue {
  color: #005eb4;
  background: #b4dbff;
}
.infobox.green {
  color: #12762a;
  background: #c4f6d0;
}
.infobox.red {
  color: #a62d2d;
  background: #f6dcdc;
}
.infobox.orange {
  color: #c96912;
  background: #fef9f4;
}
.infobox.light-blue {
  color: #24a1c8;
  background: #eff9fc;
}
.infobox.black {
  color: #333333;
  background: #999999;
}
/* Labels
   ==================================== */
.label {
  display: inline;
  background: #999999;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.label.radius {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.label.primary {
  background: #ed7063;
}
.label.secondary {
  background: #eeeeee;
}
.label.blue {
  background: #0078e7;
}
.label.green {
  background: #1cb841;
}
.label.red {
  background: #ca3c3c;
}
.label.orange {
  background: #df7514;
}
.label.light-blue {
  background: #42b8dd;
}
.label.black {
  background: #333333;
}
/* Progress Bar
   ==================================== */
.progress {
  height: 24px;
  margin-bottom: 24px;
  overflow: hidden;
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  border-radius: 3px 3px 3px 3px;
}
.progress .progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  background-color: #cccccc;
}
.progress.thin {
  height: 5px;
  margin: 0 0 19px;
}
.progress.primary {
  border-color: #ed7063;
}
.progress.primary .progress-bar {
  background: #ed7063;
}
.progress.secondary {
  border-color: #eeeeee;
}
.progress.secondary .progress-bar {
  background: #eeeeee;
}
.progress.blue {
  border-color: #0078e7;
}
.progress.blue .progress-bar {
  background: #0078e7;
}
.progress.green {
  border-color: #1cb841;
}
.progress.green .progress-bar {
  background: #1cb841;
}
.progress.red {
  border-color: #ca3c3c;
}
.progress.red .progress-bar {
  background: #ca3c3c;
}
.progress.orange {
  border-color: #df7514;
}
.progress.orange .progress-bar {
  background: #df7514;
}
.progress.light-blue {
  border-color: #42b8dd;
}
.progress.light-blue .progress-bar {
  background: #42b8dd;
}
.progress.black {
  border-color: #333333;
}
.progress.black .progress-bar {
  background: #333333;
}
/* Pricing table
   ==================================== */
.pricing-table {
  margin: 0 auto 24px;
  text-align: center;
}
.pricing-table .plan {
  background: #f7f7f7;
}
.pricing-table .plan .header {
  background: #8c8c8c;
  color: #ffffff;
}
.pricing-table .plan .header h2 {
  margin: 0;
  padding: 24px 0;
  font-weight: normal;
  text-transform: uppercase;
}
.pricing-table .plan .price {
  font-size: 72px;
  line-height: 72px;
  display: block;
  padding: 24px 0;
  background: #666666;
}
.pricing-table .plan .price span {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  *color: #ffffff;
}
.pricing-table .plan .pricing-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.pricing-table .plan .pricing-list li {
  padding: 11.5px 0;
  border-bottom: 1px solid #e6e6e6;
}
.pricing-table .plan .button {
  display: inline-block;
}
.pricing-table .plan.primary {
  border-color: #ed7063;
}
.pricing-table .plan.primary .header {
  background: #ed7063;
}
.pricing-table .plan.primary .price {
  background: #d22a18;
}
.pricing-table .plan.secondary {
  border-color: #eeeeee;
}
.pricing-table .plan.secondary .header {
  background: #eeeeee;
}
.pricing-table .plan.secondary .price {
  background: #bbbbbb;
}
.pricing-table .plan.blue {
  border-color: #0078e7;
}
.pricing-table .plan.blue .header {
  background: #0078e7;
}
.pricing-table .plan.blue .price {
  background: #004381;
}
.pricing-table .plan.green {
  border-color: #1cb841;
}
.pricing-table .plan.green .header {
  background: #1cb841;
}
.pricing-table .plan.green .price {
  background: #0f5f22;
}
.pricing-table .plan.red {
  border-color: #ca3c3c;
}
.pricing-table .plan.red .header {
  background: #ca3c3c;
}
.pricing-table .plan.red .price {
  background: #7e2222;
}
.pricing-table .plan.orange {
  border-color: #df7514;
}
.pricing-table .plan.orange .header {
  background: #df7514;
}
.pricing-table .plan.orange .price {
  background: #81440c;
}
.pricing-table .plan.black {
  border-color: #121212;
}
.pricing-table .plan.black .header {
  background: #121212;
}
.pricing-table .plan.black .price {
  background: #000000;
}
.pricing-table .optimal {
  transform: scale(1.05, 1.05);
}
@media (max-width: 768px) {
  .pricing-table {
    margin-bottom: 24px;
  }
}
/* Hint.css v1.2.0
   ==================================== */
.hint,
[data-hint] {
  position: relative;
  display: inline-block;
}
.hint:before,
.hint:after,
[data-hint]:before,
[data-hint]:after {
  position: absolute;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 100000;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
}
.hint:hover:before,
.hint:hover:after,
[data-hint]:hover:before,
[data-hint]:hover:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.hint:before,
[data-hint]:before {
  content: '';
  position: absolute;
  background: transparent;
  border: 6px solid transparent;
  z-index: 100001;
}
.hint:after,
[data-hint]:after {
  content: attr(data-hint);
  background: #383838;
  color: white;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
}
.hint-top:before {
  border-top-color: #383838;
}
.hint-bottom:before {
  border-bottom-color: #383838;
}
.hint-left:before {
  border-left-color: #383838;
}
.hint-right:before {
  border-right-color: #383838;
}
/* top tooltip*/
.hint-top:before {
  margin-bottom: -12px;
}
.hint-top:after {
  margin-left: -18px;
}
.hint-top:before,
.hint-top:after {
  bottom: 100%;
  left: 50%;
}
.hint-top:hover:before,
.hint-top:hover:after {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
}
/* bottom tooltip*/
.hint-bottom:before {
  margin-top: -12px;
}
.hint-bottom:after {
  margin-left: -18px;
}
.hint-bottom:before,
.hint-bottom:after {
  top: 100%;
  left: 50%;
}
.hint-bottom:hover:before,
.hint-bottom:hover:after {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  -o-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
}
/* right tooltip*/
.hint-right:before {
  margin-left: -12px;
  margin-bottom: -6px;
}
.hint-right:after {
  margin-bottom: -14px;
}
.hint-right:before,
.hint-right:after {
  left: 100%;
  bottom: 50%;
}
.hint-right:hover:before,
.hint-right:hover:after {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  -o-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
}
/* left tooltip*/
.hint-left:before {
  margin-right: -12px;
  margin-bottom: -6px;
}
.hint-left:after {
  margin-bottom: -14px;
}
.hint-left:before,
.hint-left:after {
  right: 100%;
  bottom: 50%;
}
.hint-left:hover:before,
.hint-left:hover:after {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  -o-transform: translateX(-8px);
  -ms-transform: translateX(-8px);
  transform: translateX(-8px);
}
/* COLORS */
/* Red */
.hint-red:after {
  background-color: #CA3C3C;
}
.hint-red.hint-top:before {
  border-top-color: #CA3C3C;
}
.hint-red.hint-bottom:before {
  border-bottom-color: #CA3C3C;
}
.hint-red.hint-left:before {
  border-left-color: #CA3C3C;
}
.hint-red.hint-right:before {
  border-right-color: #CA3C3C;
}
/* Yellow */
.hint-yellow:after {
  background-color: #DF7514;
}
.hint-yellow.hint-top:before {
  border-top-color: #DF7514;
}
.hint-yellow.hint-bottom:before {
  border-bottom-color: #DF7514;
}
.hint-yellow.hint-left:before {
  border-left-color: #DF7514;
}
.hint-yellow.hint-right:before {
  border-right-color: #DF7514;
}
/* Blue */
.hint-blue:after {
  background-color: #0078E7;
}
.hint-blue.hint-top:before {
  border-top-color: #0078E7;
}
.hint-blue.hint-bottom:before {
  border-bottom-color: #0078E7;
}
.hint-blue.hint-left:before {
  border-left-color: #0078E7;
}
.hint-blue.hint-right:before {
  border-right-color: #0078E7;
}
/* Green */
.hint-green:after {
  background-color: #1CB841;
}
.hint-green.hint-top:before {
  border-top-color: #1CB841;
}
.hint-green.hint-bottom:before {
  border-bottom-color: #1CB841;
}
.hint-green.hint-left:before {
  border-left-color: #1CB841;
}
.hint-green.hint-right:before {
  border-right-color: #1CB841;
}
/* EXTRA */
.hint-always:after,
.hint-always:before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.hint-always.hint-top:after,
.hint-always.hint-top:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
}
.hint-always.hint-bottom:after,
.hint-always.hint-bottom:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  -o-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
}
.hint-always.hint-left:after,
.hint-always.hint-left:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  -o-transform: translateX(-8px);
  -ms-transform: translateX(-8px);
  transform: translateX(-8px);
}
.hint-always.hint-right:after,
.hint-always.hint-right:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  -o-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
}
.hint-rounded:after {
  border-radius: 4px;
}

/* ICONS */
@font-face {
  font-family: 'zenit';
  src: url('fonts/zenit.eot');
  src: url('fonts/zenit.eot?#iefix') format('embedded-opentype'), url('fonts/zenit.woff') format('woff'), url('fonts/zenit.ttf') format('truetype'), url('fonts/zenit.svg#zenit') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*="icon-"]:before {
  font-family: 'zenit' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-vk:before {
  content: "\f189";
}
.icon-linux:before {
  content: "\f17c";
}
.icon-windows:before {
  content: "\f17a";
}
.icon-apple:before {
  content: "\f179";
}
.icon-android:before {
  content: "\f17b";
}
.icon-youtube-sign:before {
  content: "\f166";
}
.icon-tumblr-sign:before {
  content: "\f174";
}
.icon-long-arrow-down:before {
  content: "\f175";
}
.icon-long-arrow-up:before {
  content: "\f176";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-female:before {
  content: "\f182";
}
.icon-male:before {
  content: "\f183";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-skype:before {
  content: "\f17e";
}
.icon-thumbs-up:before {
  content: "\f164";
}
.icon-thumbs-down:before {
  content: "\f165";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-github-sign:before {
  content: "\f092";
}
.icon-twitter-sign:before {
  content: "\f081";
}
.icon-facebook-sign:before {
  content: "\f082";
}
.icon-warning-sign:before {
  content: "\f071";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-comment:before {
  content: "\f075";
}
.icon-linkedin-sign:before {
  content: "\f08c";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-pushpin:before {
  content: "\f08d";
}
.icon-picture:before {
  content: "\f03e";
}
.icon-facetime-video:before {
  content: "\f03d";
}
.icon-film:before {
  content: "\f008";
}
.icon-user:before {
  content: "\f007";
}
.icon-star-empty:before {
  content: "\f006";
}
.icon-star:before {
  content: "\f005";
}
.icon-heart:before {
  content: "\f004";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-file:before {
  content: "\f016";
}
.icon-eye-open:before {
  content: "\f06e";
}
.icon-eye-close:before {
  content: "\f070";
}
.icon-key:before {
  content: "\f084";
}
.icon-comments:before {
  content: "\f086";
}
.icon-envelope:before {
  content: "\f003";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-remove-sign:before {
  content: "\f057";
}
.icon-ok-sign:before {
  content: "\f058";
}
.icon-question-sign:before {
  content: "\f059";
}
.icon-info-sign:before {
  content: "\f05a";
}
.icon-exclamation-sign:before {
  content: "\f06a";
}
.icon-folder-close:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-flag:before {
  content: "\f024";
}
.icon-double-angle-left:before {
  content: "\f100";
}
.icon-double-angle-right:before {
  content: "\f101";
}
.icon-double-angle-up:before {
  content: "\f102";
}
.icon-double-angle-down:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-paper-clip:before {
  content: "\f0c6";
}
.icon-pinterest-sign:before {
  content: "\f0d3";
}
.icon-google-plus-sign:before {
  content: "\f0d4";
}
.icon-rss-sign:before {
  content: "\f143";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-flickr:before {
  content: "\f16e";
}
.icon-microphone:before {
  content: "\f130";
}
.icon-home:before {
  content: "\e000";
}
.icon-plus-sign:before {
  content: "\f055";
}
.icon-minus-sign:before {
  content: "\f056";
}
.icon-xing-sign:before {
  content: "\f169";
}
.icon-star-half-full:before {
  content: "\f123";
}
.icon-print:before {
  content: "\f02f";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-tablet:before {
  content: "\f10a";
}
.icon-cloud-download:before {
  content: "\f0ed";
}
.icon-cloud-upload:before {
  content: "\f0ee";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-heart-empty:before {
  content: "\f08a";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-spinner:before {
  content: "\f110";
}
/*  Socials */
ul.social {
  text-align: left;
  padding: 0;
}
ul.social li {
  display: inline-block;
  font-size: 40px;
  line-height: 48px;
}
ul.social li a {
  color: #363636;
  text-decoration: none !important;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
ul.social li a:active {
  opacity: 0.8;
}
ul.social .icon-dribbble:hover,
ul.social .icon-flickr:hover {
  color: #db4780;
}
ul.social .icon-facebook-sign:hover {
  color: #436eac;
}
ul.social .icon-github-sign:hover {
  color: #454545;
}
ul.social .icon-google-plus-sign:hover {
  color: #d91814;
}
ul.social .icon-instagram:hover {
  color: #589dce;
}
ul.social .icon-linkedin-sign:hover {
  color: #2e8cc2;
}
ul.social .icon-pinterest-sign:hover {
  color: #cb2027;
}
ul.social .icon-tumblr-sign:hover {
  color: #3d5e7d;
}
ul.social .icon-twitter-sign:hover {
  color: #0598c9;
}
ul.social .icon-vk:hover {
  color: #1c729a;
}
ul.social .icon-youtube-sign:hover {
  color: #e32114;
}
ul.social.small {
  height: 24px;
}
ul.social.small li {
  font-size: 24px;
  line-height: 24px;
}
ul.social.large li {
  font-size: 56px;
  line-height: 72px;
}
ul.social.center {
  text-align: center;
}
ul.social.right {
  text-align: right;
}
/* Menu with icons */
.menu li.menu-parent > a:after {
  font-family: 'zenit';
  content: " \f107" !important;
}
.menu ul ul li.menu-parent > a:after,
.menu.vertical li.menu-parent > a:after {
  content: " \f101" !important;
}
.menu.droptop li.menu-parent > a:after {
  content: " \f106" !important;
}
.menu.droptop ul ul li.menu-parent > a:after {
  content: " \f101" !important;
}
.menu a[class*="icon"]:before {
  font-family: 'zenit';
  font-weight: normal;
  font-style: normal;
  margin-right: 5px;
}
